{% extends "base.html" %}

{% block content %}

<!--
<div class="position-absolute top-20 start-50 translate-middle-x">

    <form action="{{ url_for('login') }}" method="post" class="login_registration">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <button class="btn btn-primary">Войти</button>
    </form>
    <span>Нету учетной записи ?</span>
    <a href="{{ url_for('registration') }}">Зарегистрируйтесь</a>

</div>
-->

<div class="text-center mt-5">

    <form action="{{ url_for('login') }}" method="post">
        <div>
            <input type="text" name="username" placeholder="Имя пользователя"><br><br>
            <input type="password" name="password" placeholder="Пароль"><br><br>
        </div>

        <button type="submit" class="btn btn-primary">Войти</button><br><br>
    </form>

    <span>Нету учетной записи ?</span>
    <a href="{{ url_for('registration') }}">Зарегистрируйтесь</a>

</div>
{% endblock %}